* {
  margin: 0;
  padding: 0;
}

/* главная страница*/
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*header*/
.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.logo_place_header {
  background-image: url(https://code.s3.yandex.net/web-code/RU-long-black.svg);
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 10;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  z-index: 3;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  z-index: 0;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 2;
}

/*discriptions */
.description {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin: 0;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__paragraph:nth-child(1) {
  padding-bottom: 30px;
}

.two-columns__paragraph:nth-child(2) {
  padding-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 600;
}

/*digits*/

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  width: 60%;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  width: 60%;
  margin-top: 20px;
}

/*таблица*/
.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  max-width: 250px;
  margin-top: 60px;
  flex-grow: 1;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

/*feynman*/
.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  margin-top: 100px;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.15;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

/*Kaufman.*/
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  background-image: url(../images/kaufman-triangle.svg);
  right: -210px;
  width: 877px;
  height: 877px;
  background-size: contain;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  position: relative;
  flex-grow: 0;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

/*footer*/
.footer {
  display: flex;
  min-height: 350px;
  justify-content: center;
  background-color: #1f1f1f;
  color: white;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  line-height: 30px;
  list-style-type: none;
}

.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
